<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li><a href="http://localhost:3000">Home</a></li>
        <li class="pure-menu-selected"><a href="#">Flickr</a></li>
        <li><a href="http://localhost:3000/bikes">Bikes</a></li>
        <li><a href="http://localhost:3000/motorcycles">Motorcycles</a></li>
        <li><a href="http://instagram.com/egggkim">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
    </ul>
</div>