<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li><a href="http://localhost:3000/bikes">Home</a></li>
        <li class="pure-menu-selected"><a href="#">Flickr</a></li>
        <li><a href="http://localhost:3000/bikes/new">Add a Bike</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Facebook</a></li>
    </ul>
</div>